<!-- footer-->

<footer id="footer" class="shadow-xs bg-dark">
    <div class="container pt-4 pb-1">

        <div class="row gutters-xl text-center text-white">

            <div class="col-12 col-lg-4 order-2 order-lg-1 mt-5  mb-5-xs">

                <div>
                    <img src="/logo-a-creative-and-modern-log/bauerlogogoldwhitetext.png" width="300" height="60"
                        alt="...">
                </div>

            </div>

            <div class="col-12 col-lg-4 order-3 order-lg-2  mt-5-xs">

                <h5 class=" h3 font-weight-light text-lime-gradient">
                    FOLLOW US
                </h5>
                <div class="clearfix mt-1 mb-1">
                    <a href="https://www.facebook.com/profile.php?id=100070114514219" class="text-lime"
                        rel="noopener" aria-label="facebook page"><i class="fi fi-social-facebook m-1 fs--25"></i></a>
                    <a href="https://www.instagram.com/bauermusicstudio/" class="text-lime" rel="noopener"
                        aria-label="instagram page"><i class="fi fi-social-instagram m-1 fs--25"></i></a>
                    <!-- <a href="#!"
                                class="btn btn-sm btn-youtube transition-hover-top mb-2 rounded-circle text-white"
                                rel="noopener" aria-label="youtube page">
                                <i class="fi fi-social-youtube"></i>
                            </a> -->
                    <h5 class="mb-4 mb-5-xs font-weight-normal">Randy@BauerMusicStudio.com</h5>
                    <h5 class="mb-4 mb-5-xs font-weight-normal text-white">208-250-5234</h5>
                </div>

            </div>

            <div class="col-12 col-lg-4 order-1 order-lg-3 mt-4-xs mb-5-xs">
                <a href="/contact/" class="clearfix  mb-4-xs">
                    <h5 class="h3 font-weight-light text-lime-gradient">STUDIO LOCATIONS</h5>
                </a>
                <ul class="list-unstyled px-3 text-align-start mt-2 font-weight-normal">
                    <li class="list-item d-flex border border-white bx-0 bt-0 py-2">
                        <div class="w-50">
                             Dunkley Music
                        </div>

                        <div class="w-50 text-align-end">
                            Eagle, Idaho
                        </div>
                    </li>

                    <li class="list-item d-flex border bx-0 bt-0 py-2">

                        <div class="w-50">
                             Boise Hive
                        </div>

                        <div class="w-50 text-align-end">
                            Boise, Idaho

                        </div>

                    </li>


                    <li class="list-item d-flex border bx-0 bt-0 py-2">

                        <div class="w-50">
                            <i class="fi fi-globe text-lime"></i> Online
                        </div>

                        <div class="w-50 text-align-end">
                            Everywhere

                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>
    <div class=" bg-dark">
        <div class="container">
            <div class="row gutters-xs--xs">
                <div class="font-weight-light text-white">

                    <div class="fs--14 py-2 float-start float-none-xs m-0-xs">
                        &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format
                        "2006"}} {{
                        end }}

                    </div>




                </div>
            </div>
        </div>
    </div>
</footer>

<!--/ footer-->